<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Edit</title>
</head>
<body class="book-form">
    <h1>Book Edit</h1>

    {{#book}}
        <form action="/book/edit/{{book_id}}" method="post">
        <input type="text" placeholder="title" name="title" value="{{title}}" />
        <input type="text" placeholder="authors" name="authors" value="{{authors}}">
        <button type="submit">Edit Book</button>
    </form>
    {{/book}}
</body>
</html>